.form__legend {
    padding: 15px;
}

.form__labelText {
    padding: 8px;
    line-height: normal;
}

.form__field {
    display: grid;
    padding: 8px;
    max-width: 200px;
    max-height: 35px;
    margin: 15px;
}

@media (max-width: 768px) {
    .form__field {
        margin: 5px;
    }
}

.form__button {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 30px;
    font-weight: 500;
    border: solid yellow;
}

.form__button:hover {
    background-color: yellow;
    color: black;
    border: solid black;
}

.form__requaierdInfo {
    font-size: 12px;
}

.form__label {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 2;
    grid-row: 1/3;
}

@media (max-width: 768px) {
    .form__label {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
}